<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veggies new</title>
</head>
<body>
      <h1>New Fruit Page</h1>
      <nav class="nav">
        <a href="/veggies/new">Create a new veggie</a>
      </nav>
      <form action="/veggies" method="POST">
        <div class="input-box">
          <input type="text" name="name" id="name" placeholder="Name">
          <input type="text" name="color" id="color" placeholder="Color">
        </div>
        <div class="input-box">
          <label for="readyToEat">Is Ready to Eat?</label>
          <input type="checkbox" name="readyToEat" id="readyToEat" >
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
        <input type="submit" value="Create Veggie" class="btn">
      </form>
    </body>
</html>

    </form>
</body>
</html>