@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --second-bg-color: #36383c;
  --text-color: #313131;
  --main-color: #f9dfd2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Playfair Display", serif;
  text-align: justify;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-family: "Playfair Display", serif;
  text-align: justify;
}

p,
a,
li,
ul {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: none;
  color: #313131;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: justify;
  line-height: normal;
  /* width: fit-content;
  border-radius: 50rem; */
}

button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  background: rgb(42, 42, 42);
  color: white;
  cursor: pointer;
  width: fit-content;
  border-radius: 50rem;
  transition: 0.5s ease;
  border: none;
}
/* ----- Header ----- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/*-----------Nav styles--------*/
.nav-logo {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.3em;
}

.nav-ul a {
  padding: 10px;
  text-transform: none;
  transition: text-shadow 0.3s;
  color: var(--text-color);
  font-weight: 100;
  font-size: 0.8em;
  line-height: 1.5em;
}

ul#nav-ul {
  margin-bottom: 20px;
}

.fa:hover,
.nav-ul a:hover {
  text-shadow: 0 1px 10px #fff, 1px 1px 10px #ccc;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  display: none;
  padding-right: 50px;
  display: block;
}

.hamburger:focus {
  outline: none;
}

.page-heading {
  position: relative;
  padding: 1% 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: var(--text-color);
  text-align: center;
  margin: 32px 0;
}

.text-center {
  text-align: center;
  margin: 32px 0;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 9%;
}
.timeline .timeline-row {
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;
}

.timeline-row .timeline-column {
  flex: 1 1 320px;
}

.timeline-column .title {
  position: relative;
  display: inline-block;
  font-size: 28px;
  margin: 32px 0 16px 30px;
}

.timeline-column .timeline-box {
  position: relative;
  border-left: 2px solid #0ef;
}

.timeline-box .timeline-content {
  position: relative;
  padding-left: 27px;
}

.timeline-box .timeline-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background: #0ef;
  border-radius: 50%;
}

.timeline-content .content {
  padding: 24px;
  border: 2px solid #0ef;
  border-radius: 8px;
  margin-bottom: 32px;
}

.timeline-content .content .year {
  font-size: 16px;
  color: ■ #0ef;
}

.timeline-content .content .year i {
  margin-right: 8px;
}

.timeline-content .content h3 {
  font-size: 19px;
  margin: 8px 0;
}

.timeline-content .content p {
  font-size: 16px;
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1f242d;
  animation: show-right 1s ease forwards;
  animation-delay: calc(0.5s * var(--i));
}

@keyframes show-right {
  100% {
    width: 0;
  }
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Button and paragraph margin styles */
.button-styles,
p.text-margin-top {
  margin: 20px 0;
  /* width: fit-content;
  border-radius: 50rem; */
}

/* --- Social Media --- */
.social-media {
  background-color: #c5fff8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: var(--bg-color);
  border-radius: 50%;
  font-size: 2rem;
  color: black;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: rgb(53, 1, 101);
  box-shadow: 0 0 1rem var(--main-color);
}



button:hover {
  background: rgb(103, 103, 103);
  color: white;
  box-shadow: 0 0 1rem var(--main-color);
}

button a {
  color: white;
  text-decoration: none;
}

/* Footer */
.footer {
  background: var(--main-color);
  margin-top: 20px;
  padding: 2rem 10%;
  text-align: center;
}

.footer .footer-text {
  text-align: center;
}
.footer p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/*-------Media Queries start here-------*/
/*NAV styles for smaller screens*/
@media screen and (max-width: 900px) {
  nav {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    margin: -30px 0 30px;
  }

  .nav-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* ---- Media Queries for Tablets ---- */
@media screen and (min-width: 901px) {
  .nav-logo {
    width: 120px;
    height: 120px;
  }

  nav {
    background: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-ul.show {
    display: flex;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.2em;
  }

  .nav-ul a {
    padding: 10px 20px;
    text-decoration: none;
    transition: text-shadow 0.3s;
    color: var(--text-color);
  }

  .fa:hover,
  .nav-ul a:hover {
    text-shadow: 0 1px 10px #fff, 1px 1px 10px #ccc;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }

  .nav-ul a {
    font-size: 1.2rem;
  }
}
