

/* Fonts start */

@font-face {
    font-family: 'Graphik-Mailchimp-Medium';
    src: url('https://cdn.flashtalking.com/144157/mailchimp_fonts_rl/Graphik-Mailchimp-Medium.woff');
}

@font-face {
    font-family: 'Means-Light';
    src: url('https://cdn.flashtalking.com/144157/mailchimp_fonts_rl/Means-Light-Web.woff');
}

@font-face {
    font-family: 'Means-Medium';
    src: url('https://cdn.flashtalking.com/144157/mailchimp_fonts_rl/Means-Medium.woff');
}

.Graphik-Mailchimp-Medium{font-family: 'Graphik-Mailchimp-Medium';}
.Means-Light{font-family: 'Means-Light';}
.Means-Medium,Means-Medium{font-family: 'Means-Medium';}

/* Fonts end */

#main {
    width: 300px;
    height: 600px;
    background-color: #ffd61c;
    position: relative;
    border: 1px solid #000;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;  
    opacity: 0;
}

#Main_image {
    position: absolute;
    width: 300px;
    height: auto;
    left: 0px; top: 0px;
    transform-origin: left;
    transform: scale(1.25);
}

#Logo {
    position: absolute;
    width: 152px;
    left: 74px; top: 35px;
    
}

.headline{
    font-family: 'Means-Light';
}

#headline1, #headline2 {
    position: absolute;
    width: 288px; left: 5px;
    text-align: center; line-height: .95;
}

#headline1 {top: 104px;}
#headline2 {top: 581px; font-family: 'Graphik-Mailchimp-Medium';}

.line {
    position: relative; display: inline-block;
    opacity: 0;
    transform: translateY(35px);
}


.animateCta {
    font-family: 'Graphik-Mailchimp-Medium';
    white-space: nowrap;
    padding: 5px 13px 4px 23px;
}

.animateCta.macOS.chrome, .animateCta.macOS.safari {padding: 4px 13px 5px 13px;}
.animateCta.macOS.firefox {padding: 6px 13px 4px 13px;}

.animateCtaContainer {
    position: absolute;
    border-radius: 30px;
    left: 71px; top: 546px;
}

#animateCtaBGContainer {
    overflow: hidden;
}

#animateCtaBG {
    background-color: white;
    position: absolute;
    right: 0px; top: 0px;
    width: 22%; height: 100%;
    border-radius: 30px;
}

.ctaArrow {
    position: relative; display: inline-block;
    width: 14px; padding-left: 10px;
}

#logoAnimation, #testCta {display: none;}
