<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--social media icons link font awesome-->
    <script src="https://kit.fontawesome.com/2dbc050342.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Homepage</title>
  </head>
  <body>
    <header class="header">
        <nav class="sticky" id="navbar">
          <a href="/"><img src="/img/alejandras-food-blog-beige.png" alt="logo" class="nav-logo"></a>
          <button class="hamburger" id="hamburger">
              <i class="fas fa-bars"></i>
          </button>
          <ul class="nav-ul" id="nav-ul">
              <li><a href="/">Homepage</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/veggies">Vegetables</a></li>
              <li><a href="/fruits">Fruits</a></li>
              <li><a href="/meats">Meats</a></li>
              <li><a href="/recipes">Recipes</a></li>
              <li><a href="/world-cuisines">Cuisines</a></li>
              <li><a href="/about/0">Contact</a></li>
          </ul>
      </nav>
    </header>
    <div class="hero-image">
      <div class="overlay hero-text">
        <h1>Homepage</h1>
      </div>
    </div>

    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2 class="page-heading">Hello, Welcome to Alejandra's Food Blog</h2>
          <p>I would like to share some of my favorite recipes to try at home
            from all around the world from glazed carrots to delicious scallops!
            Do you feel like trying something new with extra spice?
            Or something easy to make and full of flavor?
          </p>
          <h2>Craving something sweet?, May 1, 2024</h2>
          <div class="img-1 text-margin-top" style="height: 800px"></div>
          <p>These are some of my favorite recipes</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <button class="button-styles"><a href="/fruits/">Read Recipe</a></button>
        </div>
        <div class="card">
          <h2>Craving Japanese Food?</h2>
          <h3>Title description, Sep 2, 2023</h3>
          <div class="img-2 text-margin-top" style="height: 800px"></div>
          <p>I'm always up for Japanese Food!</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <button class="button-styles"><a href="/world-cuisines/">Read Recipe</a></button>
        </div>
        <div class="card">
          <h2>Do you feel like trying something new with extra spice?</h2>
          <h3>Title description, Sep 2, 2023</h3>
          <div class="img-3 text-margin-top" style="height: 800px"></div>
          <p>How about some Thai Food?</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <button class="button-styles"><a href="/recipes/">Read Recipe</a></button>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2 style="margin-top: 60px">About Me</h2>
          <p>Hello, It's Me</p>
          <h2>Alejandra Valdivia</h2>
          <h3><span class="multiple-text"></span></h3>
          <!-- <p>I'm a Web Developer & WordPress Expert.</p> -->
          <div class="headshot-div">
            <img src="/img/alex-spokane1.jpg" class="headshot" alt="image of blog author" />
            <div class="bio">
              <p><em>
                Hi, thanks for visiting my blog! My name is Alejandra and I love
                cooking! I learnt from my mom who was so passionate about cooking
                delicious meals with a touch of love and health.💕
                </em>
              </p>
            </div>
          </div>
          <p class="text-margin-top">Feel free to contact me if you have any questions!</p>
          <button><a href="/about/0">Contact Me!</a></button>
        </div>
        <div class="card">
          <h3>Popular Posts</h3>
          <div class="sidebar-img-1"></div>
          <br />
          <p style="margin-bottom: 20px">How about a whimsical layer carrot cake?</p>
          <button><a href="/fruits/">Read Recipe</a></button>
          <div class="sidebar-img-2"></div>
          <br />
          <p style="margin-bottom: 20px">Here are some of my favorite recipes</p>
          <button><a href="/fruits/">Read Recipe</a></button>
          <div class="sidebar-img-3"></div>
          <p style="margin-bottom: 20px">Here are some of my favorite recipes</p>
          <button><a href="/fruits/">Read Recipe</a></button>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <div class="social-media">
            <a href="https://github.com/AlejandraValdivia"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/alejandra-valdivia-developer/"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a
              href="https://codesandbox.io/dashboard/recent?workspace=2153d854-f3bb-4bc0-a5da-82d1787407a7"
              ><i class="bx bx-square"></i
            ></a>
            <a href="https://linktr.ee/alexandra_web_dev"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="https://www.pinterest.ca/hyperlinkwebcreative/"
              ><i class='bx bxl-pinterest'></i></a>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-heading text-margin-top">
      <div>
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          by Alejandra Valdivia | All Rights Reserved.
        </p>
      </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- custom js -->
    <script src="./js/app.js"></script>
  </body>
</html>
