<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Homepage</title>
  </head>
  <body>
    <header class="header">
      <a href="#" >
        <img src="/img/alejandras-food-blog-beige.png" class="logo" alt="logo">
      </a>
      <i class='bx bx-menu' id="menu-icon"></i>
      <nav class="navbar" id="nav-ul">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#vegetables">Vegetables</a>
        <a href="#fruits">Fruits</a>
        <a href="#meats">Meats</a>
        <a href="#recipes">Recipes</a>
        <a href="#world-cuisines">Cuisines</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size:50px; color:white">Homepage</h1>
      </div>
    </div>
    

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>HOMEPAGE</h2>
      <h5>Craving something sweet?, May 1, 2024</h5>
      <div class="img-1" style="height:800px;"></div>
      <p>These are some of my favorite recipes</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card" style="background-color: #fff;">
      <h2>Craving Japanese Food?</h2>
      <h5>Title description, Sep 2, 2023</h5>
      <div class="img-2" style="height:800px;"></div>
      <p>I'm always up for Japanese Food!</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" style="background-color: #fff;">
      <h2 style="margin-top: 60px">About Me</h2>
      <h3>Hello, It's Me</h3>
        <h2>Alejandra Valdivia</h2>
        <h3>And <span class="multiple-text"></span></h3>
        <!-- <p>I'm a Web Developer & WordPress Expert.</p> -->
      <div class="fakeimg" style="height:500px; background-color: #fff;">
        <img src="/img/alex-spokane1.jpg" alt="alejandra">
      </div>
      <p>Hi, thanks for visiting my blog! My name is Alejandra and I love cooking! I learnt from my mom who was so passionate about cooking delicious meals with a touch of love and health.💕</p>
    </div>
    <div class="card">
      <h3>Popular Posts</h3>
      <div class="sidebar-img-1"></div><br>
      <p>Read Recipe</p>
      <div class="sidebar-img-2"></div><br>
      <p>Here are some of my favorite recipes</p>
      <div class="sidebar-img-3"></div>
      <p>Here are some of my favorite recipes</p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <div class="social-media" style="background-color: #c5fff8;">
        <a href="https://github.com/AlejandraValdivia"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/alejandra-valdivia-developer/"><i class='bx bxl-linkedin'></i></a> 
        <a href="https://codesandbox.io/dashboard/recent?workspace=2153d854-f3bb-4bc0-a5da-82d1787407a7"><i class='bx bx-square' ></i></a>
        <a href="https://linktr.ee/alexandra_web_dev"><i class='bx bxl-instagram'></i></a>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-text">
    <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> by Alejandra Valdivia | All Rights Reserved.</p>
  </div>
</footer>

<!-- scroll reveal -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- typed js -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<!-- custom js -->
<script src="./js/app.js"></script>
</body>
</html>