<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Dessert Delete</title>
</head>
<body>
    <h1>Delete Dessert</h1>
    <form action="/desserts/<%= id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Yes, delete <%= dessert.name %>">
</form>
<button><a href="/desserts/<%= id %>">NO!</a></button>
</body>
</html>