<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert Edit</title>
</head>
<body>
    <h1>Edit dessert page</h1>
    <form action="/desserts/<%= id %>/?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= dessert.name %>"/>
        <label for="color">Color</label>
        <input type="text" name="color" id="color" value="<%= dessert.color %>"/>/>
        <label for="readyToEat">Is Ready to Eat?</label>
        <input type="checkbox" name="readyToEat" id="readyToEat" 
        <% if ( dessert.readyToEat === true ) { %>
            checked
            <% } %>
        />
        <input type="submit" value="Submit Fruit">
        <button><a href="/desserts/<%= id %>/delete">Delete Dessert</a></button>
        
      </form>
    </form>
</body>
</html>